﻿<script type="text/javascript" src="template.js"></script>

<template class="errorTemplate">
    <style>
        .MarvalSoftware-SingleStatus-Errors h3,
        .MarvalSoftware-SingleStatus-Errors h4 {
            padding: 8px 0 8px 0;
        }

        .singleConfig > li {
            display: none;
        }
    </style>
    <div class="MarvalSoftware-SingleStatus-Errors">
        <div class="title">
            <h3>Ensure all configuration settings are correct.</h3>
        </div>
        <div>
            <ul class="singleConfig">
                <li id="singleRole"> Role </li>
                <li id="singleStatus"> Status </li>
            </ul>
            <h4></h4>
        </div>
    </div>
</template>
<script>
    (function () {

        var MarvalSoftware = window.top.MarvalSoftware;
        var $ = window.top.$;

        MarvalSoftware.Plugins.define("marval-software-plugins-singlestatus",
        {
            _pluginPath: null,

            init: function () {
                this._requestNumber = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage().getRequestNumber();
                if (this._requestNumber) {
                    this._preRequisiteCheck();
					this._lockStatusControl();
                }
            },

            _errorPopup: function (result) {
                var errorTemplate = document.querySelector('.errorTemplate').content;
                var errorMessages = window.top.document.importNode(errorTemplate, true);
                if (result) {
                    for (var item in result) {
                        var id = "#" + item;
                        errorMessages.querySelector(id).style.display = "block";
                    }
                    errorMessages.querySelector('div > h3').textContent = "The following settings have not been configured:";
                    errorMessages.querySelector('div > h4').textContent = "Please add these via the plugin page";
                }
                MarvalSoftware.UI.MessageBox.show(
                    "Invalid Single Status Authorisation Configuration",
                    errorMessages,
                    MarvalSoftware.UI.MessageBox.Types.ERROR,
                    [MarvalSoftware.UI.MessageBox.Buttons.OK],
                    MarvalSoftware.UI.MessageBox.Buttons.OK,
                    450
                 );
            },

            _getPluginPath: function () {
                return this.attributes["data-pluginpath"].value;
            },
			_getStatusTextValue: function (status) {
				if (status._valueSelect.selectedIndex > -1) {
					return status._valueSelect.options[status._valueSelect.selectedIndex].text;
				} else {
					return "";
				}
			},

            _preRequisiteCheck: function () {
                $.ajax({
                    type: "GET",
                    url: this._getPluginPath() + "handler/ApiHandler.ashx?action=PreRequisiteCheck",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (Object.keys(result).length > 0) {
                            this._errorPopup(result);
                        }
                    }.bind(this)
                });
            },		
			_lockStatusControl: function () {
			    $.ajax({
                    type: "GET",
                    url: this._getPluginPath() + "handler/ApiHandler.ashx?action=CheckUserPermisison",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (Object.keys(result).length > 0) {
							var page = MarvalSoftware.UI.Controls.ScriptManager.getInstance().getPage();
							if (page._workflowStatusPicker && 
								this._getStatusTextValue(page._workflowStatusPicker) == result.status &&
								!result.role) { 
								page._workflowStatusPicker.setEnabled(false);						
								page.showMessage(result.heading, result.message);
							}
                        }
                    }.bind(this)
                });
			}
        });
    })();
</script>